.peng_logo{
    width: 200px;
}
.cart-logo{
    width: 30px;
}
.peng_cover_img{
    width: 400px;
}
.sec_banner, .nav_back{
    background-color: #fceae8;
}
.w_img{
    height: 450px;
    background-color: #fceae8;
    border-radius: 5%;
}
.peng_card{
    border: 0;
    border-radius: 10%;
}
.peng_service img{
    width: 100px;
}
.peng_service_box{
    padding: 10px;
    margin: 20px 0;
    border-radius: 5%;
    background-color:#fceae8 ;
}
.peng_service_cover_img{
    margin-top: 20px;
    width: 600px;
    height: 350px;
}